@font-face {
    font-family: 'MadeMirage'; 
    src: url('./Font/MADEMirageRegularPERSONALUSE.otf'); 
}

body{
    padding: 0%;
    margin: 0%;
}

.page-container{
    height: 100vh;
    width: 100%;
    perspective: 1000px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        background-image: url(/3rxcarbxlcp61.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;
        width: 100vw;   
        
    }

    .letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
}

.name {
    font-size: 8vw; 
    margin: 0;
    font-family: "MadeMirage";
}

.title {
    font-size: 4vw; 
    margin: 0;
    font-family: 'MadeMirage';
}

.name, .title {
color: beige; 
text-shadow: 
-1px -1px 0 #555555,  
 1px -1px 0 #555555,
-1px  1px 0 #555555,
 1px  1px 0 #555555;
}


.name, .title {
position: relative;
display: inline-block;
padding: 0.2em;
background-color: rgba(255, 255, 255, 0.08); 
border-radius: 8px; 
}



@keyframes curtain {
from {
transform: translateY(100%);
opacity: 0;
}
to {
transform: translateY(0);
opacity: 1;
}
}

.page {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        transform-origin: center top;
        transition: transform 0.5s ease-in-out;
        position: relative;
        overflow: hidden;
        
        }
.page::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.77) .05px, transparent .7px), 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.77) .05px, transparent .7px);
        background-size: 
        calc(100% / 5) calc(100% / 4);

        pointer-events: none;
        z-index: 1;

        }

.loading-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #222222; 
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
animation: fadeOut 0.67s 1.7s forwards; 
}

.loading-bar-container {
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
width: 2px;
height: 100%;
}

.loading-bar-grey {
width: 100%;
height: 100%;
background-color: #888888; 
position: absolute;
bottom: 0;
}

.loading-bar-white {
width: 100%;
height: 0; 
background-color: #ffffff;
position: absolute;
bottom: 0;
animation: load 2s forwards, liftBar 1s 1s forwards ease; 
}

@keyframes load {
0% {
height: 0; 
}
100% {
height: 100%; 
}
}

@keyframes liftBar {
0% {
transform: translateY(0);
}
100% {
transform: translateY(-100%);
}
}

@keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0;
visibility: hidden;
}
}

.curtain-lift {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #222222;
z-index: 999;
animation: liftCurtain 0.88s 2s forwards ease-in-out;
}

@keyframes liftCurtain {
0% {
transform: translateY(0);
}

100% {
transform: translateY(-100%);
}
}


@media (max-width: 1023px) {
.page::before {
background-size: 
    calc(100% / 4) calc(100% / 4);
}
}
@media (max-width: 426px) {
.page::before {
background-size: 
    calc(100% / 3) calc(100% / 3);
}
}